/*Loader style*/
.fade2 {
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s linear;
    display: block !important;
}

.fade2.show {
    opacity: 1;
    transform: scale(1);
}
.page-loader{
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 99;
    display:none;
}
.loadin-indicator{
    top: 50%;
    left: 50%;
    position: fixed;
    color: wheat;
}

body a{text-decoration:none;}
body a, p, h1,h2, h3, h4, h5, span{    color: #2e363f;font-family: 'Cairo', sans-serif;}
.permanent-marker{
    font-family: 'Permanent Marker', cursive;
}
.cavet{
    font-family: 'Caveat', cursive;
}
.text-light-white{
        color: #d8d8d8!important;
}
body a:hover{text-decoration:none;color:#2e363f}
.btn-outline-white{
	border: #fff solid 2px;
}
.navbar-brand h2{
    text-shadow: 4px 1px 6px #867979;
}
.no-shadow{
    text-shadow: none;
}
.header-nav .navbar .navbar-nav .nav-item a:hover{
	    background: #fff;
    border-radius: 20px;
    color: #007bff !important;
}
.page-footer{background: rgba(51, 49, 49, 1);}

/* style for homepage banner section */
.search-sec{
    padding: 2rem;
	z-index:99;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}

.menu-login-btn{
    background: #e0e0e0;
    padding: 0px 10px;
    color: #037bff;
}

.btn-fb{
background-color: #23345a;
}
.btn-gp{
    background-color: #a32b1c;
}
.btn-social{
    color: #fff;
    border-color: rgba(0,0,0,0.2);
    padding: 5px 20px;
}

@media (min-width: 992px){
    .search-sec{
        position: relative;
        top: -114px;
        background: rgba(26, 70, 104, 0.51);
    }
}

@media (max-width: 992px){
    .search-sec{
        background: #1A4668;
    }
}
/* End style home banner */

/* START SECTION DESIGN */
.featured-icon img{
    width: 80px;
    position: absolute;
    transform: rotate(-86deg);
    z-index: 99;
}
.event-meta{display: inline-block;}
.event-meta .media-left{    float: left;
    width: 20%;}
.event-meta .media-left .up-month{width: 100%;display: inline-block;font-size: 20px;font-weight: 600;}	
.event-meta .media-right{
	    width: 80%;
    float: right;
    text-align: left;
}

.online-banner-left{
    height: 100%;
    padding: 10% 0px 10% 0px;
    position: relative;
    left: 30px;
}
.inner-banner-left{
    height: 100%;
    background: rgba(247, 247, 247, 0.7);
    width: 80%;
    float: right;
}
.bn-ovrlay{
        position: absolute;
    left: 0;
    bottom: 25%;
}
.bn-ovrlay h2{font-size: 40px;}
.bn-ovrlay a{    padding: 11px 15px;
    border-radius: 25px;}

/*CATEGORY DESIGN START    */

/*********************** Demo - 1 *******************/
.box1 img,.box1:after,.box1:before{width:100%;transition:all .3s ease 0s}
.box1 .icon,.box2,.box3,.box4,.box5 .icon li a{text-align:center}
.box10:after,.box10:before,.box1:after,.box1:before,.box2 .inner-content:after,.box3:after,.box3:before,.box4:before,.box5:after,.box5:before,.box6:after,.box7:after,.box7:before{content:""}
.box1,.box11,.box12,.box13,.box14,.box16,.box17,.box18,.box2,.box20,.box21,.box3,.box4,.box5,.box5 .icon li a,.box6,.box7,.box8{overflow:hidden}
.box1 .title,.box10 .title,.box4 .title,.box7 .title{letter-spacing:1px}
.box3 .post,.box4 .post,.box5 .post,.box7 .post{font-style:italic}
.mt-30{margin-top:30px}
.mt-40{margin-top:40px}
.mb-30{margin-bottom:30px}
.box1 .icon,.box1 .title{margin:0;position:absolute}
.box1{box-shadow:0 0 3px rgba(0,0,0,.3);position:relative}
.box1:after,.box1:before{height:50%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;z-index:1;transform-origin:100% 0;transform:rotateZ(90deg)}
.box1:after{top:auto;bottom:0;transform-origin:0 100%}
.box1:hover:after,.box1:hover:before{transform:rotateZ(0)}
.box1 img{height:200px;transform:scale(1) rotate(0)}
.box1:hover img{filter:sepia(80%);transform:scale(1.3) rotate(10deg)}
.box1 .title{font-size:19px;font-weight:600;color:#fff;text-transform:uppercase;text-shadow:0 0 1px #004cbf;bottom:10px;left:10px;opacity:0;z-index:2;transform:scale(0);transition:all .5s ease .2s}
.box1:hover .title{opacity:1;transform:scale(1)}
.box1 .icon{padding:7px 5px;list-style:none;background:#007bff;border-radius:0 0 0 10px;top:-100%;right:0;z-index:2;transition:all .3s ease .2s}
.box1:hover .icon{top:0}
.box1 .icon li{display:block;margin:0px}
.box1 .icon li a{display:block;width:auto;height:auto;line-height:35px;padding: 5px 25px;border-radius:0px;font-size:18px;color:#fff;transition:all .3s ease 0s}
.box2 .icon li a,.box3 .icon a:hover,.box4 .icon li a:hover,.box5 .icon li a,.box6 .icon li a{border-radius:50%}
.box1 .icon li a:hover{color:#fff;box-shadow:0 0 10px #000 inset,0 0 0 3px #fff}
@media only screen and (max-width:990px){.box1{margin-bottom:30px}
}

/*CREATE ACCOUNT BANNER*/

.create-acc-inner{
    width: 100%;
    min-height: 300px;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
  background-attachment: fixed;
   position: relative;
}
.acc-content{
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
        padding: 5% 10%;
}
.create-acc-inner .acc-content a{
        padding: 15px;
    border: gainsboro solid 1px;
    border-radius: 40px;
}

/*COUNTRY BASED LIST START*/

.country-bg{
    width: 100%;
    background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.country-bg p{
    font-size: 25px;
}
/*.country-bg:hover{
        background-size: 110%!important;
    background-position: 50% 50%!important;

}*/
.country-overlay{
    height: 100px;
    text-align: center;
    line-height: 4;
    background: rgba(0,0,0,0.5);
}


/*   Design for city event template */
.banner-img{
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
}
.banner-img .overlay{
        background: rgba(0,0,0,0.4);
}




.btn-group button{
    border-radius: 20px;
}


/*Registration form style*/

.register{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

/*END REGISTRATION PAGE DESIGN*/


/*Start login page design*/

.login-background{
    padding-top: 5%;
    padding-bottom: 5%;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.error-alert{
    background: #e6a0ad;
    padding: 5px 5px;
    margin-bottom: 10px;
    color: #790727;
    font-size: 17px;
}
.error-alert p{
    color: #790727;
    font-size: 17px;
    margin: 0;
}

/*  activation sent */

.activation-sent{
    font-size: 150px;
    color: #24a045;
}
.activation-sent i{
    
}


/*  Dashboard css style  */
#upload-container input{
    opacity: 0;
    display: inline-block;
    width: 20px;
    position: absolute;
    z-index: 9999;
}
#upload-container{
        font-size: 30px;
    position: relative;
    bottom: 38px;
    left: 20px;
}
#upload-container i{
    position: relative;
    left: 12px;
    top: -5px
}
.dashboard-nav .navbar-nav li{
        border-bottom: white solid 1px;
    padding: 0px 5px;
}

.dashboard-nav  p, .dashboard-nav h4,.dashboard-nav h5, .dashboard-nav h6{
    padding: 0px 5px;
    color: #fff;
}

.profile-img-wrap img{
       width: 150px;
    height: 150px;
}

.profile-img-wrap{
    position: relative;
    height: 156px;
    width: 156px;
    border-radius: 50%;
    border: #007bff solid 3px;
    display: inline-block;
}
.profile-image-loader{
        position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    color: #fff;
    padding-top: 40%;
    display: none;
}
.profile-logo h6, span {
    color: #2e363f;
}
.profile-logo{
    padding-left: 5px;
}
.profile-logo ul{
    padding: 0;
        display: flex;
    list-style: none;
}
.dashboard-section{
    padding: 50px 0px;
}
.dashboard-left{
        background: #fbfbfb;
    box-shadow: #e4e4e4 1px 1px 2px 2px;
}

.dashboard-social ul{
     padding: 0;
        display: flex;
    list-style: none;
}
.dashboard-social ul li{
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.dashboard-social ul li a{
    color: #fff;
}
.share-facebook{
    background: #3b5998;
}
.share-linkdin{
    background: #4aa8db;
}
.share-twitter{
    background: #4cc2ff;
}
.share-google-plus{
    background: #dd4b39;
}
.share-pinterest{
    background: #c91a22;
}
.dashboard-nav ul li.active{
        background: #007bff;/*#d6861d*/
}
.bg-black{
    background: #000;
}
.dashboard-nav ul.navbar-nav li.nav-item a{
    color: #fff;
}
.dashboard-content{
    box-shadow: 2px 1px 5px #cac3c3;
}

/*  Dashboard  CSS END  */




/*   404 page not found   */
.page-not-found{
    min-height: 300px;
    line-height: 300px;
}
.page-not-found h1{
    display: inline-block;
    vertical-align: middle;
    color: #007bff;
    font-size: 98px;
}

/*  Details page design */
.gray-bg{
    background: rgba(185, 183, 183, 0.3);
}


.common-details{
    background: #fff;
    box-shadow: #b1aeae 2px 1px 3px 1px;
}

.event-head{
    position: relative;
    bottom: 88px;
}
.event-head img{
    width: 100%;
    height: 110px;
}
.buy-tickits{
    min-height: 100px;
    line-height: 100px;
}
.buy-tickits .wrn-btn{
   padding-top: 10px;
}
.image-banner{
    width: 100%;
    height: 300px;
    display: inline-block;
    overflow: hidden;
}
.image-banner img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.event-details-left-container .content ul{
    padding: 0;
    display: flex;
    list-style: none;
}
.btn-round{
    background: #e0e0e0;
    padding: 5px 20px;
    border-radius: 20px;
}
.event-organizer .media img{
    width: 80px;
}
.event-organizer .media-body ul{
        padding: 0;
    display: flex;
    list-style: none;
}
.event-organizer .menu-login-btn{
    color: #212529;
    font-size:10px;
}
.event-share ul{
    padding: 0;
    display: flex;
    list-style: none;
}
.event-share ul li{
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.event-share ul li a{
    color: #fff;
}

/* event details page modal style */

#tickitCart .modal-body{
        background: #f1f3f6
}
.tickit-cart-container table{width: 100%;}
.spacer{
    height: 20px;
}
.tickit-cart-container table tbody tr{height: 50px;}
.modal-second-step{
    display: none;
}

/* design for checkout page */
.tickit-container ul{
        display: flex;
    list-style: none;
    background: #f1f1f1;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
.tickit-container ul li{
    background: #fff;
    padding: 5px 10px;
    margin: 5px 10px;
    position: relative;
    min-width: 300px;
    box-shadow: 3px 2px 7px 1px #5f5f5f;
}
.tickit-container ul li p{
    margin: 0px;
}
.tickit-container ul li .tickit-name{
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0px;
    right: 0;
    transform: rotate(0deg);
    background: #007bff;
    text-shadow: 0px 1px 2px #000;
        padding: 0px 3px;
}