{% extends 'base_generic.html' %}
{% load static %}
{% block body %}

<div class="non-overlay banner-img banner" style="background-image: url('{% static 'images/61564.jpg' %}');">
	<div class=" overlay " >
		<div class="container py-4">
			<h3 class="text-white">CONCERTS IN KOLKATA</h3>
			<p class="text-white"> Line Ups, Schedules, Tickets And Concert Events In Kolkata
Music to ears is like a soul to life. Escape the monotonous life and find pieces of you by attending live music events, festivals and concerts in Kolkata. From classical music to jazz to pop to heavy metal to EDM to rock concerts in Kolkata, it is a much complex classification lineup, yet a religion that unites all. Love to groove on the thrilling number of your favorite artists?

Embark on a musical journey with your dear ones. Explore music events in Kolkata. </p>
		</div>
	</div>
</div>

<div class="container">
{% if data.events %}
<section class="filter-section my-4">
	<div class="filter-nav">
		<h4>Events filter by</h4>
		
			<!-- Example single danger button -->
<form id="filterForm" method="post" action="">
	{% csrf_token %}
	<input type="hidden" value="" id="filterTime" name="filterby_time" >
	<input type="hidden" value="" id="filterCategory" name="filterby_category" >
	<input type="hidden" value="" id="sortBy" name="sort_by" >
<div class="btn-group mr-4">
  <button class="btn btn-primary dropdown-toggle" type="button" id="filterByTimeButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Any Date
  </button>
  <div class="dropdown-menu filter-by-time" aria-labelledby="filterByTimeButton">
    <a class="dropdown-item" href="#">Today</a>
    <a class="dropdown-item" href="#">Tommorow</a>
    <a class="dropdown-item" href="#">This weekend</a>
    <a class="dropdown-item" href="#">This month</a>
  </div>
</div>
<div class="btn-group mr-4">
  <button class="btn btn-primary dropdown-toggle" type="button" id="filterByCategoryButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Any Categories
    
  </button>
  <div class="dropdown-menu filter-by-category" aria-labelledby="filterByCategoryButton">
  	<a class="dropdown-item" href="javascript:void(0);" data-catgid=""> All Categories </a>
  	{% for ctg in data.categories %}
    <a class="dropdown-item" href="javascript:void(0);" data-catgid="{{ ctg.0 }}" >{{ ctg.1 }}</a>
    {% endfor %}
  </div>
</div>
<div class="btn-group mr-4">
  <button class="btn btn-primary dropdown-toggle" type="button" id="sortByButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu sort-by" aria-labelledby="sortByButton">
    <a class="dropdown-item" href="#">Latest</a>
    <a class="dropdown-item" href="#">Popular</a>
  </div>
</div>
</form>
</div>
</section>
{% endif %}
	<section class="city-event-inner-section">
		<div class="row" id="event-list-inner" >
			{% include "hello_world.html" with events=data.events %}    
		</div>
	</section>
</div>

{% endblock %}

{% block js %}
<script>
 
</script>

{% endblock %}