{% extends 'base_generic.html' %}
{% load static %}
{% block body %}

<div class="non-overlay banner-img banner" style="background-image: url('{% static 'images/61564.jpg' %}');">
	<div class=" overlay " >
		<div class="container py-4">
			<h3 class="text-white">CONCERTS IN KOLKATA</h3>
			<p class="text-white"> Line Ups, Schedules, Tickets And Concert Events In Kolkata
Music to ears is like a soul to life. Escape the monotonous life and find pieces of you by attending live music events, festivals and concerts in Kolkata. From classical music to jazz to pop to heavy metal to EDM to rock concerts in Kolkata, it is a much complex classification lineup, yet a religion that unites all. Love to groove on the thrilling number of your favorite artists?

Embark on a musical journey with your dear ones. Explore music events in Kolkata. </p>
		</div>
	</div>
</div>

<div class="container">

<section class="filter-section my-4">
	<div class="filter-nav">
		<h4>Events filter by</h4>
		
			<!-- Example single danger button -->
		
<div class="btn-group mr-4">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Any Date
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Today</a>
    <a class="dropdown-item" href="#">Tommorow</a>
    <a class="dropdown-item" href="#">This weekend</a>
    <a class="dropdown-item" href="#">This month</a>
  </div>
</div>
<div class="btn-group mr-4">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Any Categories
    
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  	{% for ctg in data.categories %}
    <a class="dropdown-item" href="javascript:void(0);" data-catgId="{{ ctg.0 }}" >{{ ctg.1 }}</a>
    {% endfor %}
  </div>
</div>
<div class="btn-group mr-4">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Latest</a>
    <a class="dropdown-item" href="#">Popular</a>
  </div>
</div>

</div>
</section>

	<section class="city-event-inner-section">
		<div class="row">

			{% if data.events %}
			{% for event in data.events %}
			<div class="col-sm-4">
                            <div class="card mb-4" >
                                
                                <a href="#">
                                    <img class="card-img-top" src="{{event.thumb_image.url}}" alt="Card image cap">
                                    <div class="card-body">
                                        <div class="event-meta">
                                            <div class="media-left pr-2">
                                                <i class="icofont-calendar"></i>
                                                <span class="up-month text-danger">{{ event.event_start_date|date:"M" }}</span>
                                                <span class="up-day">{{ event.event_start_date|date:"d" }}</span>
                                            </div>
                                            <div class="media-right pl-2">
                                                <h6>{{ event.title }}</h6>
                                                <p class="mb-0"><span class="event-venu"><i class="icofont-location-pin"></i> {% if event.is_online %}
                                                Online
                                                {% else %}
                                                {{ event.address }}
                                                {% endif %}
                                                </span></p>
                                                <p class="mb-0">
                                                    <span class="tick-price">
                                                        <i class="icofont-ticket"></i> {{ event.get_basic_price }}	
                                                    </span>
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
            {% endfor %}
            {% endif %}            
                      
		</div>
	</section>
</div>

{% endblock %}

{% block js %}
<script>
 
</script>

{% endblock %}